body {
    margin: 5;
    /* this font size will effect all elements (other than h1 -> h6) on the page */
    font-size: 20px;
}

/* ========
Typography 
======== */

h1 {
    font-size: 28px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
}

/* ========
Layout 
======== */

header {
    background-color: #d5a983;
    color: #b0faf1;
    padding: 10px 0;
    text-align: center;
}

.intro {
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

.my-skills {
    background-color: #d5a983;
    color: #b0faf1;
    padding: 20px 0;
    text-align: center;
}

.columns {
    display: flex;
}

.column {
    margin: 0 10px;
}